@import "../../node_modules/bootstrap/scss/bootstrap";
.logo_menu img{
    width: 100px;
}
.li_logo_menu{
    margin-right: 50px;
}
.nav-item{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.profile h1, .profile h2{
    text-align: center;
}
.profile h1{
    margin: 50px auto;
}
.lastProjects, .riskyProjects, .lastTeamProjects{
    width: 30%;
    border:solid 2px #343a40;
}
.profileProjectList{
    display: flex;
    justify-content: center;
    align-items: center;
}